@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@400;700&display=swap");
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Inter', sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

button {
  border: none;
  outline: none;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
}

a {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}

:root {
  --Small-FS:14px;
  --Medium-FS:16px;
  --Large-FS:18px;
  --X-large-FS:24px;
  --Heading2-FS:36px;
  --Heading-FS:48px;
  --Light-FW:400;
  --Normal-FW:500;
  --Semi-bold-FW:600;
  --Bold-FW:700;
}

@media only screen and (max-width: 992px) and (min-width: 480px) {
  :root {
    --Small-FS:12px;
    --Medium-FS:14px;
    --Large-FS:16px;
    --X-large-FS:22px;
    --Heading2-FS:32px;
    --Heading-FS:44px;
  }
}

@media only screen and (max-width: 480px) {
  :root {
    --Small-FS:10px;
    --Medium-FS:12px;
    --Large-FS:14px;
    --X-large-FS:20px;
    --Heading2-FS:28px;
    --Heading-FS:38px;
  }
}

@-webkit-keyframes BtnLoading {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes BtnLoading {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

.P-BTN {
  position: relative;
  font-size: var(--Medium-FS);
  font-weight: var(--Normal-FW);
  padding-inline: auto;
  border-radius: 8px;
}

.P-BTN.clicked {
  opacity: 0.8;
  cursor: progress;
}

.P-BTN.clicked::before {
  content: '';
  border-radius: 8px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.P-BTN.clicked::after {
  content: '';
  border-radius: 50%;
  border: #fff solid 2px;
  border-left: transparent solid 2px;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  -webkit-animation: BtnLoading 1s linear infinite;
          animation: BtnLoading 1s linear infinite;
}

.P-BTN.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.small-fs {
  font-size: var(--Small-FS);
}

.medium-fs {
  font-size: var(--Medium-FS);
}

.large-fs {
  font-size: var(--Large-FS);
}

.x-large-fs {
  font-size: var(--X-large-FS);
}

.heading2-fs {
  font-size: var(--Heading2-FS);
}

.heading-fs {
  font-size: var(--Heading-FS);
}

.light {
  font-weight: var(--Light-FW);
}

.normal {
  font-weight: var(--Normal-FW);
}

.semi-bold {
  font-weight: var(--Semi-bold-FW);
}

.bold {
  font-weight: var(--Bold-FW);
}

.light-gray {
  color: #667085;
}

.normal-gray {
  color: #344054;
}

.dark-gray {
  color: #101828;
}

.black {
  color: #000000;
}
/*# sourceMappingURL=global.css.map */